{% extends 'VideoCreate/base.html' %}
{% load VideoCreate_tags %}

{% block project %}
  {% if path_url != None %}{{ path_url }}
  {% else %}Выбрать проект
  {% endif %}
{% endblock %}

{% block navbar %}
{% show_nav_bar path_url %}
{% endblock %}

{% block content %}
<div class="main-panel">
    <div class="content-wrapper">

      {% show_info_bar path_url %}
      <div class="row">
        <div class="col-12 grid-margin stretch-card">
          <div class="card corona-gradient-card">
            <div class="card-body py-0 px-0 px-sm-3">
              <div class="row align-items-center">
                <div class="col-4 col-sm-3 col-xl-2">
                  <img src="assets/images/dashboard/Group126@2x.png" class="gradient-corona-img img-fluid" alt="">
                </div>
                {% show_progress_bar %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>

    
    </div>
</div>
{% endblock %}
